tbody tr:hover, tbody tr:focus {
  background-color: #FFF;
}

fieldset {
  background-color: transparent;
}

.form-item .description {
  color: #757575;
}

.button {
  border-radius: 0;
}

.node-form,
.node-edit-form {
  padding-bottom: 40px;
}

.node-form input[type=text],
.node-edit-form input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=text]:focus, .node-form input[type=text]:active,
.node-edit-form input[type=text]:focus,
.node-edit-form input[type=text]:active {
  border-color: #03a9f4;
}

.node-form input[type=text]::-webkit-input-placeholder,
.node-edit-form input[type=text]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=text]:-ms-input-placeholder,
.node-edit-form input[type=text]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=text]::-ms-input-placeholder,
.node-edit-form input[type=text]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=text]::placeholder,
.node-edit-form input[type=text]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=password],
.node-edit-form input[type=password] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=password]:focus, .node-form input[type=password]:active,
.node-edit-form input[type=password]:focus,
.node-edit-form input[type=password]:active {
  border-color: #03a9f4;
}

.node-form input[type=password]::-webkit-input-placeholder,
.node-edit-form input[type=password]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=password]:-ms-input-placeholder,
.node-edit-form input[type=password]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=password]::-ms-input-placeholder,
.node-edit-form input[type=password]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=password]::placeholder,
.node-edit-form input[type=password]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=color],
.node-edit-form input[type=color] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=color]:focus, .node-form input[type=color]:active,
.node-edit-form input[type=color]:focus,
.node-edit-form input[type=color]:active {
  border-color: #03a9f4;
}

.node-form input[type=color]::-webkit-input-placeholder,
.node-edit-form input[type=color]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=color]:-ms-input-placeholder,
.node-edit-form input[type=color]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=color]::-ms-input-placeholder,
.node-edit-form input[type=color]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=color]::placeholder,
.node-edit-form input[type=color]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=date],
.node-edit-form input[type=date] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=date]:focus, .node-form input[type=date]:active,
.node-edit-form input[type=date]:focus,
.node-edit-form input[type=date]:active {
  border-color: #03a9f4;
}

.node-form input[type=date]::-webkit-input-placeholder,
.node-edit-form input[type=date]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=date]:-ms-input-placeholder,
.node-edit-form input[type=date]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=date]::-ms-input-placeholder,
.node-edit-form input[type=date]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=date]::placeholder,
.node-edit-form input[type=date]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=datetime-local],
.node-edit-form input[type=datetime-local] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=datetime-local]:focus, .node-form input[type=datetime-local]:active,
.node-edit-form input[type=datetime-local]:focus,
.node-edit-form input[type=datetime-local]:active {
  border-color: #03a9f4;
}

.node-form input[type=datetime-local]::-webkit-input-placeholder,
.node-edit-form input[type=datetime-local]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=datetime-local]:-ms-input-placeholder,
.node-edit-form input[type=datetime-local]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=datetime-local]::-ms-input-placeholder,
.node-edit-form input[type=datetime-local]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=datetime-local]::placeholder,
.node-edit-form input[type=datetime-local]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=email],
.node-edit-form input[type=email] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=email]:focus, .node-form input[type=email]:active,
.node-edit-form input[type=email]:focus,
.node-edit-form input[type=email]:active {
  border-color: #03a9f4;
}

.node-form input[type=email]::-webkit-input-placeholder,
.node-edit-form input[type=email]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=email]:-ms-input-placeholder,
.node-edit-form input[type=email]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=email]::-ms-input-placeholder,
.node-edit-form input[type=email]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=email]::placeholder,
.node-edit-form input[type=email]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=month],
.node-edit-form input[type=month] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=month]:focus, .node-form input[type=month]:active,
.node-edit-form input[type=month]:focus,
.node-edit-form input[type=month]:active {
  border-color: #03a9f4;
}

.node-form input[type=month]::-webkit-input-placeholder,
.node-edit-form input[type=month]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=month]:-ms-input-placeholder,
.node-edit-form input[type=month]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=month]::-ms-input-placeholder,
.node-edit-form input[type=month]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=month]::placeholder,
.node-edit-form input[type=month]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=number],
.node-edit-form input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=number]:focus, .node-form input[type=number]:active,
.node-edit-form input[type=number]:focus,
.node-edit-form input[type=number]:active {
  border-color: #03a9f4;
}

.node-form input[type=number]::-webkit-input-placeholder,
.node-edit-form input[type=number]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=number]:-ms-input-placeholder,
.node-edit-form input[type=number]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=number]::-ms-input-placeholder,
.node-edit-form input[type=number]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=number]::placeholder,
.node-edit-form input[type=number]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=range],
.node-edit-form input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=range]:focus, .node-form input[type=range]:active,
.node-edit-form input[type=range]:focus,
.node-edit-form input[type=range]:active {
  border-color: #03a9f4;
}

.node-form input[type=range]::-webkit-input-placeholder,
.node-edit-form input[type=range]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=range]:-ms-input-placeholder,
.node-edit-form input[type=range]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=range]::-ms-input-placeholder,
.node-edit-form input[type=range]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=range]::placeholder,
.node-edit-form input[type=range]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=search],
.node-edit-form input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=search]:focus, .node-form input[type=search]:active,
.node-edit-form input[type=search]:focus,
.node-edit-form input[type=search]:active {
  border-color: #03a9f4;
}

.node-form input[type=search]::-webkit-input-placeholder,
.node-edit-form input[type=search]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=search]:-ms-input-placeholder,
.node-edit-form input[type=search]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=search]::-ms-input-placeholder,
.node-edit-form input[type=search]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=search]::placeholder,
.node-edit-form input[type=search]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=tel],
.node-edit-form input[type=tel] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=tel]:focus, .node-form input[type=tel]:active,
.node-edit-form input[type=tel]:focus,
.node-edit-form input[type=tel]:active {
  border-color: #03a9f4;
}

.node-form input[type=tel]::-webkit-input-placeholder,
.node-edit-form input[type=tel]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=tel]:-ms-input-placeholder,
.node-edit-form input[type=tel]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=tel]::-ms-input-placeholder,
.node-edit-form input[type=tel]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=tel]::placeholder,
.node-edit-form input[type=tel]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=time],
.node-edit-form input[type=time] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=time]:focus, .node-form input[type=time]:active,
.node-edit-form input[type=time]:focus,
.node-edit-form input[type=time]:active {
  border-color: #03a9f4;
}

.node-form input[type=time]::-webkit-input-placeholder,
.node-edit-form input[type=time]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=time]:-ms-input-placeholder,
.node-edit-form input[type=time]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=time]::-ms-input-placeholder,
.node-edit-form input[type=time]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=time]::placeholder,
.node-edit-form input[type=time]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=url],
.node-edit-form input[type=url] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=url]:focus, .node-form input[type=url]:active,
.node-edit-form input[type=url]:focus,
.node-edit-form input[type=url]:active {
  border-color: #03a9f4;
}

.node-form input[type=url]::-webkit-input-placeholder,
.node-edit-form input[type=url]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=url]:-ms-input-placeholder,
.node-edit-form input[type=url]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=url]::-ms-input-placeholder,
.node-edit-form input[type=url]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=url]::placeholder,
.node-edit-form input[type=url]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=week],
.node-edit-form input[type=week] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  padding: 10px 1rem;
  border: 1px solid #bdbdbd;
  outline: none;
}

.node-form input[type=week]:focus, .node-form input[type=week]:active,
.node-edit-form input[type=week]:focus,
.node-edit-form input[type=week]:active {
  border-color: #03a9f4;
}

.node-form input[type=week]::-webkit-input-placeholder,
.node-edit-form input[type=week]::-webkit-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=week]:-ms-input-placeholder,
.node-edit-form input[type=week]:-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=week]::-ms-input-placeholder,
.node-edit-form input[type=week]::-ms-input-placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form input[type=week]::placeholder,
.node-edit-form input[type=week]::placeholder {
  color: #90a4ae;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.node-form .field--widget-entity-browser-entity-reference details,
.node-edit-form .field--widget-entity-browser-entity-reference details {
  border: none;
}

.node-form .field--name-field-teaser-media,
.node-edit-form .field--name-field-teaser-media {
  width: 200px;
}

.node-form .field--name-field-teaser-media img,
.node-edit-form .field--name-field-teaser-media img {
  display: block;
}

.node-form .field--name-field-teaser-media .pd-preview-content,
.node-edit-form .field--name-field-teaser-media .pd-preview-content {
  display: none;
}

.node-form .field--name-field-teaser-media details summary,
.node-edit-form .field--name-field-teaser-media details summary {
  display: none;
}

.node-form .field--name-field-teaser-media details .details-wrapper,
.node-edit-form .field--name-field-teaser-media details .details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
  padding: 0;
}

.node-form .field--name-field-teaser-media details .item-container,
.node-edit-form .field--name-field-teaser-media details .item-container {
  margin: 0;
  padding: 0;
  text-align: center;
}

.node-form .field--name-field-teaser-media .media--type-image .field--name-name,
.node-edit-form .field--name-field-teaser-media .media--type-image .field--name-name {
  display: none;
}

.node-form .field--name-field-teaser-media .button,
.node-edit-form .field--name-field-teaser-media .button {
  display: inline-block !important;
  margin: 0.5rem 0 !important;
}

.node-form fieldset.teaser .fieldset-wrapper,
.node-edit-form fieldset.teaser .fieldset-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.node-form .paragraphs-tabs-wrapper,
.node-edit-form .paragraphs-tabs-wrapper {
  background-color: #eeeeee;
  padding: .5rem 2rem 2rem;
}

.node-form .paragraphs-tabs-wrapper table,
.node-edit-form .paragraphs-tabs-wrapper table {
  background-color: #FFF;
}

.node-form #edit-field-paragraphs--description,
.node-form #edit-field-paragraphs-description,
.node-edit-form #edit-field-paragraphs--description,
.node-edit-form #edit-field-paragraphs-description {
  margin: 3rem 0 .8rem;
  color: #757575;
}

.node-form .button.paragraph-type-add-modal-button,
.node-edit-form .button.paragraph-type-add-modal-button {
  background-color: #007bc6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007bc6), to(#0071b8));
  background-image: linear-gradient(to bottom, #007bc6, #0071b8);
  border-color: #0071b8;
  padding: .7rem 2rem;
  color: #FFF;
  text-shadow: none;
}

.node-form #edit-actions,
.node-edit-form #edit-actions {
  background: #eeeeee;
  width: 100%;
  margin: 0;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 922px) {
  .paragraphs-tabs-wrapper .pd-preview-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.paragraphs-tabs-wrapper .pd-preview-thumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.paragraphs-tabs-wrapper .pd-preview-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 922px) {
  .paragraphs-tabs-wrapper .pd-preview-content {
    padding-left: 20px;
  }
}

.paragraphs-subform .paragraphs-content > details {
  padding: 0;
}

.paragraphs-subform .paragraphs-content > details > summary[aria-expanded="true"] {
  display: none;
}

.paragraphs-subform .paragraphs-content > details > .details-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 0 0;
}

.paragraphs-subform .form-wrapper .button {
  margin: 5px 5px 0 0;
}

.paragraphs-subform .entities-list .item-container {
  margin: 0;
}

.paragraphs-subform .entities-list .item-container > input {
  display: inline-block;
}

.paragraphs-subform .entity-browser-iframe-container .ajax-progress-fullscreen {
  visibility: hidden;
}

.paragraphs-subform .entity-browser-iframe-container iframe {
  z-index: auto;
}

.paragraphs-subform .field--widget-inline-entity-form-simple {
  padding: 10px 20px 20px 0;
}

.paragraphs-subform .field--widget-inline-entity-form-simple > fieldset {
  padding: 0;
  border: none;
}

.paragraphs-subform .field--widget-inline-entity-form-simple > fieldset > legend {
  display: none;
}

.paragraphs-subform .field--name-field-media-images > details > summary[aria-expanded="true"] {
  display: none;
}

.paragraphs-subform .field--name-field-media-images .details-wrapper {
  padding: 0;
}

.paragraphs-subform .field--name-field-media-images .entities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px -5px 0;
}

.paragraphs-subform .field--name-field-media-images .item-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.view .view-content img {
  display: block;
  width: 100%;
  height: auto;
}

.view.view-image-browser .views-exposed-form {
  background: #f5f5f5;
  margin: 10px;
  padding: 5px 1rem;
}

.view.view-image-browser .views-exposed-form .form--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view.view-image-browser .views-exposed-form .form-actions {
  margin: 0;
}

.view.view-image-browser .view-content {
  width: 1245px;
}

.view.view-image-browser .view-content ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.view.view-image-browser .view-content ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.view.view-image-browser .masonry-layout {
  width: 100%;
}

.view.view-image-browser .masonry-layout .masonry-item {
  width: 15%;
  margin: 0 10px 10px;
  padding: 0;
}

.view.view-image-browser .views-row .views-field-entity-browser-select .form-item {
  margin: 0;
}

.view.view-image-browser .views-row .views-field-entity-browser-select input {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.view.view-image-browser .views-row .views-field-entity-browser-select input:checked {
  background-color: rgba(3, 169, 244, 0.5);
  border: 5px solid #03a9f4;
}

.paragraph--type--mg-parag-photo-gallery.paragraph--view-mode--preview .field--name-field-mg-images,
.paragraph--type--mg-parag-photo-gallery-slider.paragraph--view-mode--preview .field--name-field-mg-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.paragraph--type--mg-parag-photo-gallery.paragraph--view-mode--preview .field--name-field-mg-images .field__item,
.paragraph--type--mg-parag-photo-gallery-slider.paragraph--view-mode--preview .field--name-field-mg-images .field__item {
  margin: 0 .5rem .5rem 0;
}

/*# sourceMappingURL=sourcemaps/style.css.map */
